@charset "UTF-8";

header{
	margin: auto;
	text-align: left;
	width: 40%;
	background-color: gray;
	padding: 5px 0px 5px 80px;
}

header h3{
	font-size: 25px;
}

.login_menu{
	text-align: center;
}

.title{
	margin: 50px 0px 75px 0px;
	font-weight: bold;
}

.input{
	padding: 15px;
	font-weight: bold;
}

.login{
	margin-top: 55px;
	padding: 1px 25px;
}