@charset "UTF-8";

.title-frase {
	display: inline-block;
	padding: 5px 0px 0px 70px;
	font-size: 25px;
}

body{
	width: 900px;
	margin: 0 auto;
}

.header{
	width: 100%;
	background-color: gray;
	float: right;
	padding-right: 60px;
}

.user_name{
	float: right;
	color: white;
	padding-top: 10px;
	margin-right: 100px;
}

.logout{
	color: red;
	float: right;
	padding-top: 10px;
	text-decoration: underline;
}

.title{
	text-align: center;
	padding: 80px 0px 50px 0px;
	margin: 0;
}

.del-message{
	padding-left: 20px;
}

.search{
	margin-top: 30px;
	width: 120px;
	padding: 0px;
	font-size: 15px;
}

.subm{
	text-align: center;
	padding-top: 30px;
}

.ok{
	margin-left: 100px;
}

